#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2em 0 2em;
  z-index: 999;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left
}

#nav-bar .header {
  font-size: 2em;
  float: left;
  line-height: 2em;
  padding-left: 10px;
}

#composeButton {
  width: 105px;
  height: 43px;
  position: absolute;
  right: 50px;
  border-radius: 7px;
  background-color: white;
  margin-top: 18px;
}

#composeButton:hover {
  opacity: 0.7;
}

#compuseButton span {
  color: teal;
}